*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.box1 p{
    margin: 0;
}

.box3 p{
    margin: 0;
}

.box1{
 background: #544BAB;
 width: 220px;
 height: 220px;

}

.box2{
width: 220px;
height: 220px;
background: #EAECF9;

}


.box3{
background: #544BAB;
 width: 220px;
 height: 220px; 
 
}

.box4{
width: 220px;
height: 220px;
background: #EAECF9;

}

.box5{
background: #544BAB;
 width: 220px;
 height: 220px;
 
}

.box6{
width: 220px;
height: 220px;
background: #EAECF9;

}

